
  <a href="/" class="btn btn-success flex flex-center m-5 border-warning">Seguir Comprando</a>
    <h2 class="text-center">Carrito del cliente {{carrito._id}} </h2>
    
<a onclick="finalizarCompra()" class="btn btn-success flex flex-center m-5 border-warning">Finalizar compra</a>

<!-- Input oculto para almacenar el ID del carrito -->
<input type="text" value="{{this.carrito._id}}" id="inputCarrito" hidden>

<div class="container bg-secondary bg-gradient">
      <div class="row  row-cols-md-4 row-cols-md-6 m-5 mt-4 ">  
          {{#each products}}
         <div class="col-2 ">
            <div class="card h-100 bg-light">
                <div class="card-header bg-primary text-white">
                       <i class="bi bi-info-circle">ID : </i>{{this.product._id}}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-black fs-4 font-monospace">{{this.product.title}}</h5>
                    <ul class="list-unstyled">
                        <hr>
                        <li ><i class="bi bi-file-text"> Descripcion : {{this.product.description}}</i></li>
                        <hr>
                        <li ><i>Precio : $ {{this.product.price}}</i></li>
                        <hr>
                        <li ><i class="bi bi-tag"></i> Codigo: {{this.product.code}}</li>
                        <hr>
                        <li ><i class="bi bi-grid"></i> Categoria : {{this.product.category}}</li>
                        <hr>
                        <li ><i class="bi bi-check-circle"> Estado : {{this.product.status}}</i></li>
                        <hr>
                        <li ><i class="bi bi-box"></i> Stock : {{this.quantity}}</li>
                        <hr>
                        <li >
                            <img src="{{this.product.thumbnail}}" alt="{{this.product.title}}" class="img-fluid mt-2">
                        </li>

  <div>
    <button class="btn btn-danger" onclick="eliminar('{{../cart._id}}', '{{this.product._id}}')">Eliminar</button>
  </div>

                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
      </div> 
</div>
<script src="/js/productos.js"></script>

