{{>menu}}

<input value="{{this.carrito._id}}" id="inputCarrito">

<div>
    <h3>Productos</h3>

    <div class="d-flex justify-content-around">

    </div>

    <div class="row row-cols-md-4 row-cols-md-5">
        {{#each listOfProducts}}
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-header">
                        <img src="{{this.thumbnail}}" alt="{{this.title}}" class="img-fluid">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-dark fs-4">{{this.title}}</h5>
                    <ul>
                        <li><i class="bi bi-file-text"></i> Descripción: {{this.description}}</li>
                        <li>Precio: $ {{this.price}}</li>
                        <li><i class="bi bi-tag"></i> Código: {{this.code}}</li>
                        <li><i class="bi bi-grid"></i> Categoría: {{this.category}}</li>
                        <li><i class="bi bi-check-circle"></i> Estado: {{this.status}}</li>
                        <li><i class="bi bi-box"></i> Stock: {{this.stock}}</li>
                   ID:{{this.id}}
                    </ul>
                    <button onclick="comprar('{{this._id}}')">Agregar a Carrito</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="d-flex justify-content-center my-2">
    <a href="/?pagina=1" class="btn btn-primary mx-1">Pág. 1</a>
    {{#if hasPrevPage}}
    <a href="/?pagina={{prevPage}}" class="btn btn-outline-secondary mx-1">Ant.</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/?pagina={{nextPage}}" class="btn btn-outline-secondary mx-1">Sig.</a>
    {{/if}}
    <a href="/?pagina={{totalPages}}" class="btn btn-primary mx-1">Ult.Pág.</a>
</div>


<script src="/js/productos.js"></script>
