{{>menu}}

<input type="text" value="{{this.carrito._id}}"  id="inputCarrito" hidden>
<a href="/carrito/{{this.carrito._id}}" class="btn btn-warning mx-3 my-3">Ver carrito</a>

<a href="/realTimeproducts" class="btn btn-success flex flex-center m-5 border-warning">Registrar un producto</a>

{{#if mensajeBienvenida}}
    <p id="mensajeBienvenida" class="text-white fs-4 fw-1 text-center mensaje-bienvenida">{{mensajeBienvenida}}</p>
{{/if}}


<div>
    <h1 class="text-center mb-4 fs-1 font-monospace">Productos</h1>
      <div class="row  row-cols-md-4 row-cols-md-5 ">  
          {{#each listOfProducts}}
         <div class="col mb-4">
            <div class="card h-100 bg-light">
                <div class="card-header bg-primary text-white">
                       <i class="bi bi-info-circle">ID : </i>{{this.id}}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-black fs-4 font-monospace">{{this.title}}</h5>
                    <ul class="list-unstyled">
                        <hr>
                        <li ><i class="bi bi-file-text"> Descripcion : {{this.description}}</i></li>
                        <hr>
                        <li ><i>Precio : $ {{this.price}}</i></li>
                        <hr>
                        <li ><i class="bi bi-tag"></i> Codigo: {{this.code}}</li>
                        <hr>
                        <li ><i class="bi bi-grid"></i> Categoria : {{this.category}}</li>
                        <hr>
                        <li ><i class="bi bi-check-circle"> Estado : {{this.status}}</i></li>
                        <hr>
                        <li ><i class="bi bi-box"></i> Stock : {{this.stock}}</li>
                        <hr>
                        <li >
                            <img src="{{this.thumbnail}}" alt="{{this.title}}" class="img-fluid mt-2">
                        </li>
                        <button onclick="comprar('{{this._id}}')">Agregar a Carrito</button>

                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
      </div> 
</div>

<br>
<div class="d-flex justify-content-center">
<a class="btn btn-success flex flex-center m-5 border-warning" href="/?pagina=1">Pág. 1</a>

 {{#if hasPrevPage}}
    <a class="btn btn-success flex flex-center m-5 border-warning" href="/?pagina={{prevPage}}">Ant.</a>
{{/if}} 

{{#if hasNextPage}}
    <a class="btn btn-success flex flex-center m-5 border-warning" href="/?pagina={{nextPage}}">Sig.</a>
{{/if}}


<a class="btn btn-success flex flex-center m-5 border-warning" href="/?pagina={{totalPages}}">Ult.Pág.</a>

</div>
<br>
<script src="/js/productos.js"></script>