<h2>Productos</h2>
<hr>
<a class="mx-5 my-5 btn btn-success" href="/realtimeproducts">Tiempo real</a>

<input type="text" value="{{carrito._id}}"  id="inputCarrito">
    {{>menu}}
<a href="/carrito/{{carrito._id}}" class="bg-warning">Ver carrito</a>

{{#each productos}}
<div class="product-card">
    <ul class="list-unstyled">
        <li><i class="bi bi-file-text"> Titulo : {{title}}</i></li>
        <hr>
        <li><i class="bi bi-file-text"> Descripcion : {{description}}</i></li>
        <hr>
        <li><i>Precio : $ {{this.price}}</i></li>
        <hr>
        <li><i class="bi bi-tag"></i> Codigo: {{this.code}}</li>
        <hr>
        <li><i class="bi bi-grid"></i> Categoria : {{this.category}}</li>
        <hr>
        <li><i class="bi bi-check-circle"> Estado : {{this.status}}</i></li>
        <hr>
        <li><i class="bi bi-box"></i> Stock : {{this.stock}}</li>
        <hr>
        <li>
            <img src="{{this.thumbnail}}" alt="{{this.title}}" class="img-fluid mt-2">
        </li>
        <button onclick="comprar('{{this._id}}')">Agregar a Carrito</button>

    </ul>
</div>
<a href="/carrito/{{carrito._id}}">Ver Carrito</a>
{{/each}}
<br>
<br>
<script src="/js/productos.js"></script>