{{>menu}}
<input type="hidden" value="{{this.carrito._id}}" id="inputCarrito">

<h2 class="text-black  text-center m-4">Datos del Usuario :  {{usuario.first_name}}</h2>
<div class="d-flex justify-content-center fw-bolder bg-light">
   <hr>
   <p class=" text-secondary m-4">Nombre: <strong class="text-dark m-4">{{usuario.first_name}}</strong></p>
   <p class=" text-secondary m-4">Correo electrónico: <strong class="text-dark m-4">{{usuario.email}}</strong></p>
   <p class=" text-secondary m-4">Numero de Carrito: <strong class="text-dark m-4">{{usuario.carrito._id}}</strong></p>
   <p class=" text-secondary m-4">Perfil usuario : <strong class="text-dark m-4">{{usuario.role}}</strong></p>
   <p class=" text-secondary m-4">ID usuario : <strong class="text-dark m-4">{{usuario._id}}</strong></p>

   <br>

</div>
<script src="/js/productos.js"></script>